<body  class="bdy">

<h1 class="heads"> Project Made By</h1>
    <div class="row1">


        <div class="column1">
            <img class="imgs" src="../../assets/maharshi.jpeg"  alt="Italian Trulli">
        </div>

        <div class="column1">
            <img class="imgs" src="../../assets/mandeep.jpeg"  alt="Italian Trulli">
        </div>

        <div class="column1">
            <img class="imgs1" src="../../assets/bharadwaj.jpeg"  alt="Italian Trulli">
        </div>


    </div>





    <div class="row2">


        <div class="column2">
            <h2 class="name">Maharshi Patel</h2>
            <p class="description"></p>
        </div>

        
        <div class="column2">
            <h2 class="name1">Mandeep Kaur Saini</h2>
            <p class="description"></p>
        </div>
        
        
        <div class="column2">
            <h2 class="name2">Bharadwaj Kanukuntla</h2>
            <p class="description"></p>
        </div>


    </div>



</body>
<footer>
    <section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Quick links</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href=""><i class="fa fa-angle-double-right"></i>Home</a></li>
                    <li><a routerLink="/order"><i class="fa fa-angle-double-right"></i>Order</a></li>
                    
                    <li><a href="/contact"><i class="fa fa-angle-double-right"></i>Contact Us</a></li>
                    <li><a href="/about"><i class="fa fa-angle-double-right"></i>About</a></li>
                    
                    <li><a href="/login"><i class="fa fa-angle-double-right"></i>Admin login</a></li>
                </ul>
            </div>
            
            <div class="col-xs-12 col-sm-4 col-md-4">
        
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p><u><a href="https://www.nationaltransaction.com/">Group 9</a></u></p>
                <p class="h6">&copy All right Reversed.<a class="text-green ml-2" target="_blank">Group 9</a></p>
            </div>
            
        </div>	
    </div>
            </div>
        </div>
</section>
</footer>
