<body class="bdy">
    <div class="container1">
  
                    
                    
                    
                    
                    
                    
                 <!--Section: Contact v.2-->
<section class="mb-4">

    <!--Section heading--><br>
    <h2 class="h1-responsive font-weight-bold text-center my-4">Contact us</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
        a matter of hours to help you.</p>


<div class="container">

  <div class="row">
    <div class="column">
      <img src="../../assets/contact.jpg" class="img1" style="width:100%">
    </div>
    <div class="column">
      <form action="/action_page.php">
        <label for="fname">First Name</label>
        <input type="text" id="fname" name="firstname" placeholder="Your name.." required>
        <label for="lname">Last Name</label>
        <input type="text" id="lname" name="lastname" placeholder="Your last name.." required>
        <label for="country">Country</label>
        <select id="country" name="country" required>
          <option value="australia">Australia</option>
          <option value="canada">Canada</option>
          <option value="usa">USA</option>
        </select>
        <label for="subject">Subject</label>
        <textarea id="subject" name="subject" placeholder="Write something.." style="height:170px"></textarea>
        <input type="submit" value="Submit">
      </form>
    </div>
  </div>
</div>
        </section>
    </div>
</body>
<footer>
  <section id="footer">
<div class="container">
  <div class="row text-center text-xs-center text-sm-left text-md-left">
    <div class="col-xs-12 col-sm-4 col-md-4">
      <h5>Quick links</h5>
      <ul class="list-unstyled quick-links">
                    <li><a href=""><i class="fa fa-angle-double-right"></i>Home</a></li>
        <li><a routerLink="/order"><i class="fa fa-angle-double-right"></i>Order</a></li>
        
        <li><a href="/contact"><i class="fa fa-angle-double-right"></i>Contact Us</a></li>
        <li><a href="/about"><i class="fa fa-angle-double-right"></i>About</a></li>
        
                    <li><a href="/login"><i class="fa fa-angle-double-right"></i>Admin login</a></li>
      </ul>
    </div>
    
    <div class="col-xs-12 col-sm-4 col-md-4">
  
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p><u><a href="https://www.nationaltransaction.com/">Group 9</a></u></p>
      <p class="h6">&copy All right Reversed.<a class="text-green ml-2" target="_blank">Group 9</a></p>
    </div>
    
  </div>	
</div>
            </div>
        </div>
</section>
</footer>



